{{ $title := .Title }}
{{ $url := printf "%s" .Permalink | absLangURL }}
{{ $icon_size := "32px" }}

{{ if not .Params.disable_share }}
  <div id="sharing" class="mt3" style="padding-top: 20px; display: flex; flex-direction: row; justify-content: flex-start">
    <i>Liked this post? Get in touch!&nbsp;</i>
    {{ $twitter_href := printf "https://twitter.com/ppati000" }}
    {{ with .Site.Social.twitter }}
      {{ $twitter_href = printf "%s&via=%s" $twitter_href . }}
    {{ end }}
    <a href="{{ $twitter_href }}" class="twitter no-underline" aria-label="share on Twitter">
      {{ partialCached "svg/twitter.svg" (dict "size" $icon_size) $icon_size }}
    </a>

    {{ $linkedin_href := printf "https://www.linkedin.com/in/patrick-petrovic" }}
    <a href="{{ $linkedin_href }}" class="linkedin no-underline" aria-label="share on LinkedIn">
      {{ partialCached "svg/linkedin.svg" (dict "size" $icon_size) $icon_size }}
    </a>

    {{ $github_href := printf "https://github.com/ppati000" }}
    <a href="{{ $github_href }}" class="github no-underline" aria-label="share on LinkedIn">
      {{ partialCached "svg/github.svg" (dict "size" $icon_size) $icon_size }}
    </a>
  </div>
{{ end }}
